* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Navbar Section*/
.navbar {
  width: 100%;
  background: linear-gradient(to right, #4f4136, #222222, #272c2d);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  .logo {
    color: #fff;
    // background-color: red;
    font-size: 1rem;
    padding: 1rem;
  }
  .hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    // background-color: red;
    padding: 1rem 2rem;
    a {
      text-decoration: none;
      color: #fff;
      font-family: medium;
    }
    .button {
      // background-color: green;
      background: linear-gradient(to left, #2c2b27, #232323);
      border: #fff solid 0.1rem;
      border-radius: 50px;
      padding: 0.5rem 1rem;
      a {
        font-family: medium;
      }
    }
  }
}

/*Top-Content Section*/

.main-content {
  width: 100%;
  background: linear-gradient(to right, #4f4136, #222222, #272c2d);
  display: flex;
  flex-direction: row;

  gap: 1rem;
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // background-color: red;
    padding: 1rem 2rem;
    .para-1 {
      p {
        font-size: 5rem;
        font-family: semibold;
        color: #fff;
        line-height: 1.2;
      }
    }
    .para {
      //   background-color: green;
      p {
        font-size: 1.3rem;
        color: #fff;
      }
    }
    .left-bottom {
      display: flex;
      flex-direction: row;
      align-content: center;
      //   background-color: blue;
      gap: 2rem;
      width: fit-content;
      .button {
        // background-color: green;
        width: fit-content;
        background: linear-gradient(to right, #eecd5e, #c6ce6c, #9ac572);
        border: none;
        border-radius: 50px;
        padding: 0.5rem 2rem;

        a {
          font-family: medium;
          text-decoration: none;
          font-size: 1rem;
          color: #222222;
        }
      }
      .button-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        p {
          font-family: medium;
          font-size: 1rem;
          color: #fff;
        }
      }
    }
  }
  .right {
    width: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      padding: 1rem 1rem;
      border-radius: 50px;
    }
  }
}
/*Counter section*/
.main-counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #4f4136, #222222, #272c2d);
  padding: 2rem 2rem;
  .counter {
    width: 70%;
    display: flex;
    flex-direction: row;
    // gap: 1rem;
    margin-left: 15rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.18);
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    .first-counter {
      display: flex;
      flex-direction: column;
      padding: 3rem 3rem;
      // gap: 1rem;
      h6 {
        color: #fff;
        font-size: 1rem;
      }
      span {
        color: #fff;
        font-family: semibold;
        font-size: 3rem;
      }
    }
    .profile {
      // background-color: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        // background-color: red;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 2%;

        h6 {
          font-family: semibold;
          font-size: 1.2rem;
          color: #fff;
        }
        h5 {
          font-size: 1.5rem;
          font-family: bold;
          color: #fff;
        }
      }
      .image-card {
        width: 100%;
        height: 100%;
        // background-color: blueviolet;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        
        .first-img {
          // background-color: #9ac572;
          width: 20%;
          height: 55%;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          border: 0.1rem solid#7c7b7b94;

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
