* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Navbar Section*/
.navbar {
  width: 100%;
  background: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-sm) var(--p-md);
  .logo {
    color: var(--white);
    // background-color: red;
    font-size: 1rem;
    padding: var(--p-sm);
  }
  .hero {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
    // background-color: red;
    padding: var(--p-sm) var(--p-md);
    a {
      text-decoration: none;
      color: var(--white);
      font-family: medium;
    }
    .button {
      // background-color: green;
      background: var(--button-dark);
      border: var(--white) solid 0.1rem;
      border-radius: var(--radius-full);
      padding: var(--p-xs) var(--p-sm);
      a {
        font-family: medium;
      }
    }
  }
}

/*Top-Content Section*/

.main-content {
  width: 100%;
  background: var(--bg-main);
  display: flex;
  flex-direction: row;

  gap: var(--gap-md);
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // background-color: red;
    padding: var(--p-sm) var(--p-md);
    .para-1 {
      p {
        font-size: 5rem;
        font-family: semibold;
        color: var(--white);
        line-height: 1.2;
      }
    }
    .para {
      //   background-color: green;
      p {
        font-size: 1.3rem;
        color: var(--white);
      }
    }
    .left-bottom {
      display: flex;
      flex-direction: row;
      align-content: center;
      //   background-color: blue;
      gap: var(--gap-lg);
      width: fit-content;

      .button {
        // background-color: green;
        width: fit-content;
        background: var(--bg-button-light);
        border: none;
        border-radius: var(--radius-full);
        padding: var(--p-xs) var(--p-md);
        box-shadow: var(--shadow-btn);

        a {
          font-family: medium;
          text-decoration: none;
          font-size: 1.1rem;
          color: var(--dark);
        }
      }
      .button-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap-md);
        p {
          font-family: medium;
          font-size: 1rem;
          color: var(--white);
        }
      }
    }
  }
  .right {
    width: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      padding: var(--p-sm) var(--p-sm);
      border-radius: var(--radius-full);
    }
  }
}
/*Counter section*/
.main-counter {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg-main);
  padding: var(--p-md);
  .counter {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: 15rem;
    border: 0.1rem solid var(--glass-border);
    border: none;
    border-radius: var(--radius-sm);
    background: var(--glass-bg);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    box-shadow: var(--shadow-dark);
    .first-counter {
      display: flex;
      flex-direction: column;
      padding: 3rem 3rem;
      // gap: 1rem;
      h6 {
        color: var(--white);
        font-size: 1rem;
      }
      span {
        color: var(--white);
        font-family: semibold;
        font-size: 3rem;
      }
    }
    .profile {
      // background-color: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .content {
        display: flex;
        flex-direction: row;
        gap: var(--gap-md);
        // background-color: red;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 2%;

        h6 {
          font-family: semibold;
          font-size: 1.2rem;
          color: var(--white);
        }
        h5 {
          font-size: 1.5rem;
          font-family: bold;
          color: var(--white);
        }
      }
      .image-card {
        width: 100%;
        height: 100%;
        // background-color: blueviolet;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var(--p-sm);

        .first-img {
          // background-color: #9ac572;
          width: 20%;
          height: 55%;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          border: 0.1rem solid#7c7b7b94;

          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}
/*Popular Section*/
.main-popular {
  // background-color: #c6ce6c;
  background: var(--bg-main);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-sm);
  padding: var(--p-lg);
  .main-image {
    background: none;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(180px, 33%));
    gap: var(--gap-sm);
    padding: var(--p-md);
    grid-template-areas:
      "first second"
      "three four";

    .first {
      width: 100%;
      border-radius: var(--radius-sm);
      background: var(--bg-card-1);
      position: relative;
      overflow: hidden;
      img {
        width: 70%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 15%;
      }
    }
    .second {
      width: 100%;
      border-radius: var(--radius-sm);
      background: var(--bg-card-2);
      position: relative;
      overflow: hidden;
      img {
        width: 75%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 10%;
      }
    }
    .three {
      width: 100%;
      border-radius: var(--radius-sm);
      background: var(--bg-card-3);
      position: relative;
      overflow: hidden;
      img {
        width: 50%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 25%;
      }
    }
    .four {
      width: 100%;
      border-radius: var(--radius-sm);
      background: var(--bg-card-4);
      position: relative;
      overflow: hidden;
      img {
        width: 70%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 15%;
      }
    }
  }
  .right-content {
    width: 50%;
    // background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: var(--p-md);
    h6 {
      font-size: 1.5rem;
      color: #748269;
    }
    .heading {
      display: flex;
      flex-direction: column;
      margin-top: 8%;
      span {
        font-size: 3.5rem;
        font-family: semibold;
        color: #fff;
        line-height: 1.2;
      }
    }
    .para {
      width: 55%;
      margin-top: 5%;
      p {
        font-size: 0.9rem;
        line-break: anywhere;
        color: #fff;
      }
    }
    .button-2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--gap-md);
      margin-top: 5%;

      p {
        font-family: medium;
        font-size: 1rem;
        color: #fff;
      }
    }
  }
}

/*Artist Section*/
.main-artist {
  background: var(--bg-main);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-md);
  padding: var(--p-lg);
  .artist-left {
    width: 50%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    padding: var(--p-lg);
    h6 {
      font-size: 1.5rem;
      color: var(--muted);
    }
    .heading {
      display: flex;
      flex-direction: column;
      margin-top: 8%;
      span {
        font-size: 3.5rem;
        font-family: semibold;
        color: var(--white);
        line-height: 1.2;
      }
    }
    .para {
      width: 55%;
      margin-top: 5%;
      p {
        font-size: 0.9rem;
        line-break: anywhere;
        color: var(--white);
      }
    }
  }
  .artist-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    .image-content {
      width: 50%;
      background-color: #212526;
      border-radius: var(--radius-md);
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile {
        height: 35%;
        width: 45%;
        // background-color: #2e4940;
        border-radius: 50%;
        margin-top: 5%;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .text {
        text-align: center;
        margin-top: 2%;
        .quotes {
          display: flex;
          flex-direction: row;
          gap: var(--gap-md);
          h2 {
            font-size: 1.5rem;
            color: whitesmoke;
          }
        }
        span {
          font-size: 1.1rem;
          color: whitesmoke;
        }
      }
      .image {
        height: 40%;
        width: 100%;
        // background-color: #2e4940;
        border-radius: var(--radius-md);
        margin-top: 5%;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
          position: absolute;
        }
      }
    }
  }
}

/*Brand Section*/
.main-image {
  background: var(--bg-main);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--p-lg) var(--p-lg);
  .image {
    // background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: var(--gap-lg);
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

/*Subscribe Section*/
.subscribe {
  background: var(--bg-main);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  padding: var(--p-lg) var(--p-lg);
  p {
    font-size: 5rem;
    color: var(--white);
    font-family: semibold;
  }
  .button {
    // background-color: green;
    width: fit-content;
    background: var(--bg-button-light);
    border: none;
    border-radius: var(--radius-full);
    padding: var(--p-xs) var(--p-md);
    box-shadow: var(--shadow-btn);
    margin-top: 4%;

    a {
      font-family: medium;
      text-decoration: none;
      font-size: 1.1rem;
      color: #222222;
    }
  }
}

/*Footer Section*/
.main-footer {
  background: var(--bg-main);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-lg);
  padding: var(--p-lg);
  .logo {
    // background-color: red;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-md);
    h6 {
      font-size: 1.4rem;
      color: var(--white);
    }
    p {
      color: var(--white);
      letter-spacing: 0.1rem;
    }
    .icon {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--gap-lg);
    }
  }
  .bottom-content {
    width: 75%;
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--gap-md);
    .text {
      display: flex;
      flex-direction: column;
      gap: var(--gap-md);
      h6 {
        font-size: 1rem;
        color: var(--white);
        font-family: semibold;
      }
      .ul {
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm);
        span {
          font-size: 1rem;
          color: var(--white);
        }
      }
    }
  }
}
