* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*Navbar Section*/
.navbar {
  width: 100%;
  background: linear-gradient(to right, #4f4136, #222222, #272c2d);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  .logo {
    color: #fff;
    // background-color: red;
    font-size: 1rem;
    padding: 1rem;
  }
  .hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    // background-color: red;
    padding: 1rem 2rem;
    a {
      text-decoration: none;
      color: #fff;
      font-family: medium;
    }
    .button {
      // background-color: green;
      background: linear-gradient(to left, #2c2b27, #232323);
      border: #fff solid 0.1rem;
      border-radius: 50px;
      padding: 0.5rem 1rem;
      a{
        font-family: medium;
      }
    }
  }
}
