@font-face {
  font-family: regular;
  src: url(./assets/fonts/manrope-regular.otf);
}
@font-face {
  font-family: medium;
  src: url(./assets/fonts/manrope-medium.otf);
}
@font-face {
  font-family: light;
  src: url(./assets/fonts/manrope-light.otf);
}
@font-face {
  font-family: thin;
  src: url(./assets/fonts/manrope-thin.otf);
}
@font-face {
  font-family: bold;
  src: url(./assets/fonts/manrope-bold.otf);
}
@font-face {
  font-family: semibold;
  src: url(./assets/fonts/manrope-semibold.otf);
}
@font-face {
  font-family: extrabold;
  src: url(./assets/fonts/manrope-extrabold.otf);
}

/*scrollbar-background*/
::-webkit-scrollbar {
  background-color: #000000;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(166, 166, 166, 0.523);
  border-radius: 50px;
}

body {
  user-select: none;
}

/*Globally applied styles*/
.right-arrow {
  display: flex;
  align-items: center;
}

